langchain
langgraph
chromadb
openai
fastapi
gradio
uvicorn
python-dotenv
pydantic
pydantic-settings
requests
langchain-openai
langchain-groq
langchain-google-genai
langchain-chroma
beautifulsoup4
lxml
PyMuPDF
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
httpx
aiohttp
rich
pytest
pytest-asyncio
deep-translator==1.11.4